<div class="ms-Grid-col ms-u-sm12" style="height:100%">
    <div class="container" style="height:100%">
        <div class="ms-Grid" style="height:100%">
            <div class="ms-Grid-row" style="height:100%">
                <div class="ms-Grid-col ms-u-sm12 " style="height:100%">
                    <div class="ms-Grid ms-bgColor-white ms-font-m PartialView-Item Faq">
                        <div class="ms-Grid-row">
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-xxl ms-fontWeight-semibold">FAQ
                            </div>
                        </div>
                        <div class="ms-Grid-row ">
                            <br>
                            <br>
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-xl ms-fontWeight-semibold Faq-Header">
                                <div class="container">
                                    <div class="ms-Grid">
                                        <div class="ms-Grid-row">
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg6">
                                                Office IT Deployment Scripts
                                                <i id="ProjectDescription" class="ms-Icon ms-Icon--MiniLink ms-fontColor-themePrimary--hover ms-font-xl Section-Link" ari onclick="toggleCopyLink(this)" a-hidden="true"></i>
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg5 hidden">
                                                <input class="ms-TextField-field Link-TextField" type="text" value="" placeholder="">
                                            </div>
                                             <div class="ms-Grid-col ms-u-sm12 ms-u-lg1 hidden">
                                                <i class="ms-Icon ms-Icon--Copy ms-fontColor-themePrimary--hover ms-font-xl" aria-hidden="true" onclick="copyToClipboard(this)"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-l ms-fontWeight-regular">
                                <br>
                                This repo is a collection of useful PowerShell scripts to make deploying Office 2016 and Office 365 ProPlus easier for IT Pros and administrators.
                                <br>
                                <br>
                                Read more about it here: <a href="https://blogs.office.com/2015/08/19/introducing-the-office-it-pro-deployment-script-project/">Office Blogs</a>
                                <br>
                                <br>
                                The software is licensed “as-is.” under the <a href="https://github.com/OfficeDev/Office-IT-Pro-Deployment-Scripts/blob/master/LICENSE">MIT License.</a>
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <br>
                            <br>
                             <div class="ms-Grid-col ms-u-sm12 ms-fontSize-xl ms-fontWeight-semibold Faq-Header">
                                <div class="container">
                                    <div class="ms-Grid">
                                        <div class="ms-Grid-row">
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg6">
                                                Do you have System Center Configuration Manager?
                                                <i id="UseSCCM" class="ms-Icon ms-Icon--MiniLink ms-fontColor-themePrimary--hover ms-font-xl Section-Link" ari onclick="toggleCopyLink(this)" a-hidden="true"></i>
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg5 hidden">
                                                <input class="ms-TextField-field Link-TextField" type="text" value="" placeholder="">
                                            </div>
                                             <div class="ms-Grid-col ms-u-sm12 ms-u-lg1 hidden">
                                                <i class="ms-Icon ms-Icon--Copy ms-fontColor-themePrimary--hover ms-font-xl" aria-hidden="true" onclick="copyToClipboard(this)"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-l ms-fontWeight-regular">
                                <br>
                                You can automate the configuration of ConfigMgr to deploy and manage your Office ProPlus environment using <a href="https://github.com/OfficeDev/Office-IT-Pro-Deployment-Scripts/tree/master/Office-ProPlus-Deployment/Setup-CMOfficeDeployment">Deploying Office ProPlus with Configuration Manager</a>
                                <br>
                                <br>
                                We also provide Office ProPlus specific reports. <a href="http://officedev.github.io/Office-IT-Pro-Deployment-Scripts/XmlEditor.html">Office ProPlus ConfigMgr Reports.</a>
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <br>
                            <br>
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-xl ms-fontWeight-semibold Faq-Header">Are you manually editing your configuration XML files?
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-l ms-fontWeight-regular ">
                                <br>
                                Tired of manually editing the Office ProPlus Configuration XML File?
                                <br>
                                <br>
                                Try our online <a href="http://officedev.github.io/Office-IT-Pro-Deployment-Scripts/XmlEditor.html">XML Editor Office Click-To-Run Configuration XML Editor</a>
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <br>
                            <br>
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-xl ms-fontWeight-semibold Faq-Header">Would you like a faster and easier way to download your Office ProPlus files?
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-l ms-fontWeight-regular">
                                <br>
                                Try using <a href="https://github.com/OfficeDev/Office-IT-Pro-Deployment-Scripts/tree/master/Office-ProPlus-Deployment/Download-OfficeProPlusBranch">Download-OfficeProPlusChannels</a>
                                to quickly and easily download from multiple Channels and languages with one operation.
                            
                            
                            
                            
                            
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <br>
                            <br>
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-xl ms-fontWeight-semibold Faq-Header">Do you use Group Policy to configure your Office Clients?
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-l ms-fontWeight-regular">
                                <br>
                                If you have Group Policy setting from previous versions of Office use our <a href="https://github.com/OfficeDev/Office-IT-Pro-Deployment-Scripts/tree/master/Office-ProPlus-Preparation/Copy-OfficeGPOSettings">Copy-OfficeGPOSettings</a>
                                to migrate your settings to Office 2016.
                            
                            
                            
                            
                            
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <br>
                            <br>
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-xl ms-fontWeight-semibold Faq-Header">Would you like to see example of how to use our scripts to create deployment solutions?
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-l ms-fontWeight-regular">
                                <br>
                                <a href="https://github.com/OfficeDev/Office-IT-Pro-Deployment-Scripts/tree/master/Office-ProPlus-Deployment/Deploy-OfficeClickToRun">Deployment Examples</a>
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <br>
                            <br>
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-xl ms-fontWeight-semibold Faq-Header">Scripts
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-l ms-fontWeight-regular">
                                <br>
                                For more detailed documentation of each script, check the <a href="https://github.com/OfficeDev/Office-IT-Pro-Deployment-Scripts/wiki">Wiki</a>
                                or the readme file in the corresponding folder
                            
                            
                            
                            
                            
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <br>
                            <br>
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-xl ms-fontWeight-semibold Faq-Header">New to PowerShell and Office 365?
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-l ms-fontWeight-regular">
                                <br>
                                Check out <a href="http://powershell.office.com/">PowerShell for Office 365</a>
                                for advice on getting started, key scenarios and script samples.
                            
                            
                            
                            
                            
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <br>
                            <br>
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-xl ms-fontWeight-semibold Faq-Header">Questions and comments?
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-l ms-fontWeight-regular">
                                <br>
                                If you have any trouble running this sample, please <a href="https://github.com/OfficeDev/Office-IT-Pro-Deployment-Scripts/issues">log an issue.</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
