
<div class="ms-Grid-col ms-u-sm12  ms-u-md8 ms-u-lg10 ms-u-xl11 ms-u-xxl11 ms-u-xxxl11" style="height:100%">
	<div class="container" style="height:100%">
		<div class="ms-Grid" style="height:100%">
			<div class="ms-Grid-row" style="height:100%">
				<div class="ms-Grid-col ms-u-sm10 ms-u-lg7 Home" style="height:100%">
					<div class="ms-font-su ms-fontWeight-semiBold">Welcome</div>
					<div class="ms-Grid-row">
					<!-- page content here -->
					</div>		
				</div>
		      </div>
			</div>
		</div>
	</div>
</div>
