
<div class="ms-Grid-col ms-u-sm12" style="height:100%">
	<div class="container" style="height:100%">
		<div class="ms-Grid" style="height:100%">
			<div class="ms-Grid-row" style="height:100%">
				<div class="ms-Grid-col ms-u-sm12 Home" style="height:100%">
					<div class="ms-Grid-row ms-bgColor-white ms-font-m PartialView-Item">
						<div class="ms-Grid-col ms-u-sm12 ms-u-md6">
							<div class="ms-font-xxl ms-fontWeight-semiBold" style="padding-bottom:10px">Welcome</div>
							In an effort to streamline the deployment process for Office 2016 and Office 365 ProPlus, a GitHub repository has been created with a collection of scripts and other projects. The repository is meantto be a place for IT Pros to come and find solutions that will make tasks related to deploying and maintaining Office easier.</br></br>  All items in the master branch of the repository are tested and ready to use. Each script has a ReadMe file that explains how to use it. The main ReadMe has a list of the name and descriptions for all of the scripts in the repository.</br></br>  If you would like to contribute to repository please following the instructions </br>'How to Contribute to this project' in the main ReadMe file in the repository.
						</div>
						<div>
						<img  class="ms-Grid-col ms-u-sm12 ms-u-md6" style="padding-top:55px" src="../Images/placeholder.png"/>
						</div>
					</div>
					<div class="ms-Grid-row ms-bgColor-white ms-font-m PartialView-Item">
						<div class="ms-Grid-col ms-u-sm12">
							<div class="your-class">
							  	<div>
							  		<img  class="ms-Grid-col ms-u-sm12 ms-u-md6" style="padding-top:55px" src="../Images/placeholder.png"/>
							  		<div class="ms-font-m ms-fontWeight-regular">Placeholder Title 1</div>
						  	   </div>
						  	   <div>
							  		<img  class="ms-Grid-col ms-u-sm12 ms-u-md6" style="padding-top:55px" src="../Images/placeholder.png"/>
							  		<div class="ms-font-m ms-fontWeight-regular">Placeholder Title 2</div>
						  	   </div>
						  	   <div>
							  		<img  class="ms-Grid-col ms-u-sm12 ms-u-md6" style="padding-top:55px" src="../Images/placeholder.png"/>
							  		<div class="ms-font-m ms-fontWeight-regular">Placeholder Title 3</div>
						  	   </div>
						  	   <div>
							  		<img  class="ms-Grid-col ms-u-sm12 ms-u-md6" style="padding-top:55px" src="../Images/placeholder.png"/>
							  		<div class="ms-font-m ms-fontWeight-regular">Placeholder Title 4</div>
						  	   </div>
							  	
							</div>
						</div>
					</div>
				</div>
		      </div>
			</div>
		</div>
	</div>


	<script type="text/javascript">
    $(document).ready(function(){
      $('.your-class').slick({
      	 infinite: false,
	  speed: 300,
	  slidesToShow: 3,
	  slidesToScroll: 4,
	  
    });
  });
  </script>

