<div class="ms-Grid-col ms-u-sm12" style="height:100%">
    <div class="container" style="height:100%">
        <div class="ms-Grid" style="height:100%">
            <div class="ms-Grid-row" style="height:100%">
                <div class="ms-Grid-col ms-u-sm12 " style="height:100%">
                    <div class="ms-Grid-row ms-bgColor-white ms-font-m PartialView-Item">
                        <div class="ms-Grid-col ms-u-sm12 ms-u-lg6 ms-font-xl">
                            <div class="ms-font-xxl ms-fontWeight-semibold" style="padding-bottom:10px">Welcome</div>
                            In an effort to streamline the deployment process for Office 2016 and Office 365 ProPlus, a GitHub repository has been created with a collection of scripts and other projects. The repository is meantto be a place for IT Pros to come and find solutions that will make tasks related to deploying and maintaining Office easier.



</br></br>All items in the master branch of the repository are tested and ready to use. Each script has a ReadMe file that explains how to use it. The main ReadMe has a list of the name and descriptions for all of the scripts in the repository.</br></br>If you would like to contribute to repository please following the instructions </br>'How to Contribute to this project' in the main ReadMe file in the repository.
						</div>
<div>
	<iframe  class="ms-Grid-col ms-u-sm12 ms-u-lg6" src="https://www.youtube.com/embed/dQw4w9WgXcQ"  style="padding-top: 50px;height:500px
	" frameborder="0" allowfullscreen ></iframe></div>
</div>
<div class="ms-Grid-row ms-bgColor-white ms-font-m PartialView-Item">
    <div class="ms-Grid-col ms-u-sm12">
        <div class="ms-font-xxl ms-fontWeight-semibold Carousel-Header">Automation</div>
        <div class="Automation-Carousel">
            <div>
                <img class="ms-Grid-col ms-u-sm12 ms-u-lg6 Carousel-Img" style="padding-top:55px" src="../Images/placeholder.png"/>
                <div class="ms-font-xl ms-fontWeight-regular ms-fontColor-themeDark Carousel-Text">Placeholder Title 1</div>
            </div>
            <div>
                <img class="ms-Grid-col ms-u-sm12 ms-u-lg6 Carousel-Img" style="padding-top:55px" src="../Images/placeholder.png"/>
                <div class="ms-font-xl ms-fontWeight-regular ms-fontColor-themeDark Carousel-Text">Placeholder Title 2</div>
            </div>
            <div>
                <img class="ms-Grid-col ms-u-sm12 ms-u-lg6 Carousel-Img" style="padding-top:55px" src="../Images/placeholder.png"/>
                <div class="ms-font-xl ms-fontWeight-regular ms-fontColor-themeDark Carousel-Text">Placeholder Title 3</div>
            </div>
            <div>
                <img class="ms-Grid-col ms-u-sm12 ms-u-lg6 Carousel-Img" style="padding-top:55px" src="../Images/placeholder.png"/>
                <div class="ms-font-xl ms-fontWeight-regular ms-fontColor-themeDark Carousel-Text">Placeholder Title 4</div>
            </div>
            <div>
                <img class="ms-Grid-col ms-u-sm12 ms-u-lg6 Carousel-Img" style="padding-top:55px" src="../Images/placeholder.png"/>
                <div class="ms-font-xl ms-fontWeight-regular ms-fontColor-themeDark Carousel-Text">Placeholder Title 5</div>
            </div>
            <div>
                <img class="ms-Grid-col ms-u-sm12 ms-u-lg6 Carousel-Img" style="padding-top:55px" src="../Images/placeholder.png"/>
                <div class="ms-font-xl ms-fontWeight-regular ms-fontColor-themeDark Carousel-Text">Placeholder Title 6</div>
            </div>
            <div>
                <img class="ms-Grid-col ms-u-sm12 ms-u-lg6 Carousel-Img" style="padding-top:55px" src="../Images/placeholder.png"/>
                <div class="ms-font-xl ms-fontWeight-regular ms-fontColor-themeDark Carousel-Text">Placeholder Title 7</div>
            </div>
            <div>
                <img class="ms-Grid-col ms-u-sm12 ms-u-lg6 Carousel-Img" style="padding-top:55px" src="../Images/placeholder.png"/>
                <div class="ms-font-xl ms-fontWeight-regular ms-fontColor-themeDark Carousel-Text">Placeholder Title 8</div>
            </div>
            <div>
                <img class="ms-Grid-col ms-u-sm12 ms-u-lg6 Carousel-Img" style="padding-top:55px" src="../Images/placeholder.png"/>
                <div class="ms-font-xl ms-fontWeight-regular ms-fontColor-themeDark Carousel-Text">Placeholder Title 9</div>
            </div>
            <div>
                <img class="ms-Grid-col ms-u-sm12 ms-u-lg6 Carousel-Img" style="padding-top:55px" src="../Images/placeholder.png"/>
                <div class="ms-font-xl ms-fontWeight-regular ms-fontColor-themeDark Carousel-Text">Placeholder Title 10</div>
            </div>
        </div>
    </div>
</div>
<div class="ms-Grid-row ms-bgColor-white ms-font-m PartialView-Item">
    <div class="ms-Grid-col ms-u-sm12">
        <div class="ms-font-xxl ms-fontWeight-semibold Carousel-Header">Test Scripts</div>

        <div class="Test-Scripts-Carousel">
            <div>
                <img class="ms-Grid-col ms-u-sm12 ms-u-lg6 Carousel-Img" style="padding-top:55px" src="../Images/placeholder.png"/>
                <div class="ms-font-xl ms-fontWeight-regular ms-fontColor-themeDark Carousel-Text">Placeholder Title 1</div>
            </div>
            <div>
                <img class="ms-Grid-col ms-u-sm12 ms-u-lg6 Carousel-Img" style="padding-top:55px" src="../Images/placeholder.png"/>
                <div class="ms-font-xl ms-fontWeight-regular ms-fontColor-themeDark Carousel-Text">Placeholder Title 2</div>
            </div>
            <div>
                <img class="ms-Grid-col ms-u-sm12 ms-u-lg6 Carousel-Img" style="padding-top:55px" src="../Images/placeholder.png"/>
                <div class="ms-font-xl ms-fontWeight-regular ms-fontColor-themeDark Carousel-Text">Placeholder Title 3</div>
            </div>
            <div>
                <img class="ms-Grid-col ms-u-sm12 ms-u-lg6 Carousel-Img" style="padding-top:55px" src="../Images/placeholder.png"/>
                <div class="ms-font-xl ms-fontWeight-regular ms-fontColor-themeDark Carousel-Text">Placeholder Title 4</div>
            </div>
            <div>
                <img class="ms-Grid-col ms-u-sm12 ms-u-lg6 Carousel-Img" style="padding-top:55px" src="../Images/placeholder.png"/>
                <div class="ms-font-xl ms-fontWeight-regular ms-fontColor-themeDark Carousel-Text">Placeholder Title 5</div>
            </div>
            <div>
                <img class="ms-Grid-col ms-u-sm12 ms-u-lg6 Carousel-Img" style="padding-top:55px" src="../Images/placeholder.png"/>
                <div class="ms-font-xl ms-fontWeight-regular ms-fontColor-themeDark Carousel-Text">Placeholder Title 6</div>
            </div>
            <div>
                <img class="ms-Grid-col ms-u-sm12 ms-u-lg6 Carousel-Img" style="padding-top:55px" src="../Images/placeholder.png"/>
                <div class="ms-font-xl ms-fontWeight-regular ms-fontColor-themeDark Carousel-Text">Placeholder Title 7</div>
            </div>
            <div>
                <img class="ms-Grid-col ms-u-sm12 ms-u-lg6 Carousel-Img" style="padding-top:55px" src="../Images/placeholder.png"/>
                <div class="ms-font-xl ms-fontWeight-regular ms-fontColor-themeDark Carousel-Text">Placeholder Title 8</div>
            </div>
            <div>
                <img class="ms-Grid-col ms-u-sm12 ms-u-lg6 Carousel-Img" style="padding-top:55px" src="../Images/placeholder.png"/>
                <div class="ms-font-xl ms-fontWeight-regular ms-fontColor-themeDark Carousel-Text">Placeholder Title 9</div>
            </div>
            <div>
                <img class="ms-Grid-col ms-u-sm12 ms-u-lg6 Carousel-Img" style="padding-top:55px" src="../Images/placeholder.png"/>
                <div class="ms-font-xl ms-fontWeight-regular ms-fontColor-themeDark Carousel-Text">Placeholder Title 10</div>
            </div>
        </div>
    </div>
</div>
</div></div></div></div></div><script type="text/javascript">
    
    
    
    
    $(document).ready(function(){
      $('.Automation-Carousel').slick({
      infinite: true,
	  speed: 300,
	  slidesToShow: 6,
	  slidesToScroll: 2,
	  prevArrow: '<i class="slick-prev slick-arrow ms-Icon ms-Icon--ChevronLeft ms-font-xxl Carousel-Chevron" style="position: absolute;top: 40%;left: -2%;" role="button"></i>',
	  nextArrow: '<i class="slick-next slick-arrow ms-Icon ms-Icon--ChevronRight ms-font-xxl Carousel-Chevron"  style="position: absolute;top: 40%;right: -2%;" role="button"</i>',
responsive: [
		{
		  breakpoint: 1919,
		  settings: {
			slidesToShow: 6,
			slidesToScroll: 1,
			infinite: true
			
		  }
		},
		{
		  breakpoint: 1365,
		  settings: {
			slidesToShow: 5,
			slidesToScroll: 1
		  }
		},
		{
		  breakpoint: 1023,
		  settings: {
			slidesToShow: 4,
			slidesToScroll: 1
		  }
		},
		{
		  breakpoint: 800,
		  settings: {
			slidesToShow: 3,
			slidesToScroll: 1
		  }
		},
		{
		  breakpoint: 730,
		  settings: {
			slidesToShow: 2,
			slidesToScroll: 1
		  }
		}
		]
    });
  });
  
  $(document).ready(function(){
      $('.Test-Scripts-Carousel').slick({
      infinite: true,
	  speed: 300,
	  slidesToShow: 6,
	  slidesToScroll: 2,
	  prevArrow: '<i class="slick-prev slick-arrow ms-Icon ms-Icon--ChevronLeft ms-font-xxl Carousel-Chevron" style="position: absolute;top: 40%;left: -2%;" role="button"></i>',
	  nextArrow: '<i class="slick-next slick-arrow ms-Icon ms-Icon--ChevronRight ms-font-xxl Carousel-Chevron"  style="position: absolute;top: 40%;right: -2%;" role="button"</i>',
	   responsive: [
		{
		  breakpoint: 1919,
		  settings: {
			slidesToShow: 6,
			slidesToScroll: 1,
			infinite: true
			
		  }
		},
		{
		  breakpoint: 1365,
		  settings: {
			slidesToShow: 5,
			slidesToScroll: 1
		  }
		},
		{
		  breakpoint: 1023,
		  settings: {
			slidesToShow: 4,
			slidesToScroll: 1
		  }
		},
		{
		  breakpoint: 800,
		  settings: {
			slidesToShow: 3,
			slidesToScroll: 1
		  }
		},
		{
		  breakpoint: 730,
		  settings: {
			slidesToShow: 2,
			slidesToScroll: 1
		  }
		}
		]
    });
  });



</script>
