<div class="ms-Grid-col ms-u-sm12" style="height:100%">
    <div class="container" style="height:100%">
        <div class="ms-Grid" style="height:100%">
            <div class="ms-Grid-row" style="height:100%">
                <div class="ms-Grid-col ms-u-sm12 " style="height:100%">
                    <div class="ms-Grid ms-bgColor-white ms-font-m PartialView-Item Scripts">
                        <div class="ms-Grid-row">
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-xxl ms-fontWeight-semibold">Scripts
                            </div>
                        </div>
                        <div class="ms-Grid-row ">
                            <br>
                            <br>
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-xl ms-fontWeight-semibold Script-Header">
                                <div class="container">
                                    <div class="ms-Grid">
                                        <div class="ms-Grid-row">
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg8">
                                                Script Title
                                                <i id="TestScript1" class="ms-Icon ms-Icon--MiniLink ms-fontColor-themePrimary--hover ms-font-xl Section-Link" ari onclick="toggleCopyLink(this)" a-hidden="true"></i>
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg3 hidden">
                                                <input class="ms-TextField-field Link-TextField" type="text" value="" placeholder="">
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg1 hidden">
                                                <i class="ms-Icon ms-Icon--Copy ms-fontColor-themePrimary--hover ms-font-xl" aria-hidden="true" onclick="copyToClipboard(this)"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-l ms-fontWeight-regular">
                                <br>
                                <strong>Script Usecase: </strong>
                                &nbsp &nbsp Monotonectally embrace exceptional services rather than dynamic e-tailers. Appropriately redefine stand-alone web-readiness and fully tested alignments. Authoritatively cultivate high-payoff ideas and functional collaboration and idea-sharing.
                                <br>
                                <br>
                                Monotonectally embrace exceptional services rather than dynamic e-tailers. Appropriately redefine stand-alone web-readiness and fully tested alignments. Authoritatively cultivate high-payoff ideas and functional collaboration and idea-sharing.
                                <br>
                                <br>
                                <strong>Script Notes: </strong>
                                &nbsp &nbsp Monotonectally embrace exceptional services rather than dynamic e-tailers. Appropriately redefine stand-alone web-readiness and fully tested alignments. Authoritatively cultivate high-payoff ideas and functional collaboration and idea-sharing.
                               <br>
                                <br>
                                <strong>Find Script Here: </strong>
                                <a href="https://blogs.office.com/2015/08/19/introducing-the-office-it-pro-deployment-script-project/">Link To Script</a>
                                <br>
                                <br>
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <br>
                            <br>
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-xl ms-fontWeight-semibold Script-Header">
                                <div class="container">
                                    <div class="ms-Grid">
                                        <div class="ms-Grid-row">
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg8">
                                                Do you have SCCM?
                                                <i id="UseSCCM" class="ms-Icon ms-Icon--MiniLink ms-fontColor-themePrimary--hover ms-font-xl Section-Link" ari onclick="toggleCopyLink(this)" a-hidden="true"></i>
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg3 hidden">
                                                <input class="ms-TextField-field Link-TextField" type="text" value="" placeholder="">
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg1 hidden">
                                                <i class="ms-Icon ms-Icon--Copy ms-fontColor-themePrimary--hover ms-font-xl" aria-hidden="true" onclick="copyToClipboard(this)"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-l ms-fontWeight-regular">
                                <br>
                                You can automate the configuration of ConfigMgr to deploy and manage your Office ProPlus environment using <a href="https://github.com/OfficeDev/Office-IT-Pro-Deployment-Scripts/tree/master/Office-ProPlus-Deployment/Setup-CMOfficeDeployment">Deploying Office ProPlus with Configuration Manager</a>
                                <br>
                                <br>
                                We also provide Office ProPlus specific reports. <a href="http://officedev.github.io/Office-IT-Pro-Deployment-Scripts/XmlEditor.html">Office ProPlus ConfigMgr Reports.</a>
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <br>
                            <br>
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-xl ms-fontWeight-semibold Script-Header">
                                <div class="container">
                                    <div class="ms-Grid">
                                        <div class="ms-Grid-row">
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg8">
                                                Are you manually editing your configuration XML files?
                                                <i id="XMLEditor" class="ms-Icon ms-Icon--MiniLink ms-fontColor-themePrimary--hover ms-font-xl Section-Link" ari onclick="toggleCopyLink(this)" a-hidden="true"></i>
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg3 hidden">
                                                <input class="ms-TextField-field Link-TextField" type="text" value="" placeholder="">
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg1 hidden">
                                                <i class="ms-Icon ms-Icon--Copy ms-fontColor-themePrimary--hover ms-font-xl" aria-hidden="true" onclick="copyToClipboard(this)"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-l ms-fontWeight-regular ">
                                <br>
                                Tired of manually editing the Office ProPlus Configuration XML File?
                                <br>
                                <br>
                                Try our online <a href="http://officedev.github.io/Office-IT-Pro-Deployment-Scripts/XmlEditor.html">XML Editor Office Click-To-Run Configuration XML Editor</a>
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <br>
                            <br>
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-xl ms-fontWeight-semibold Script-Header">
                                <div class="container">
                                    <div class="ms-Grid">
                                        <div class="ms-Grid-row">
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg9">
                                                Would you like an easier way to download your Office ProPlus files?
                                                <i id="DownloadScript" class="ms-Icon ms-Icon--MiniLink ms-fontColor-themePrimary--hover ms-font-xl Section-Link" ari onclick="toggleCopyLink(this)" a-hidden="true"></i>
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg2 hidden">
                                                <input class="ms-TextField-field Link-TextField" type="text" value="" placeholder="">
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg1 hidden">
                                                <i class="ms-Icon ms-Icon--Copy ms-fontColor-themePrimary--hover ms-font-xl" aria-hidden="true" onclick="copyToClipboard(this)"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-l ms-fontWeight-regular">
                                <br>
                                Try using <a href="https://github.com/OfficeDev/Office-IT-Pro-Deployment-Scripts/tree/master/Office-ProPlus-Deployment/Download-OfficeProPlusBranch">Download-OfficeProPlusChannels</a>
                                to quickly and easily download from multiple Channels and languages with one operation.
                            
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <br>
                            <br>
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-xl ms-fontWeight-semibold Script-Header">
                                <div class="container">
                                    <div class="ms-Grid">
                                        <div class="ms-Grid-row">
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg8">
                                                Do you use GPO to configure your Office Clients?
                                                <i id="UseGPO" class="ms-Icon ms-Icon--MiniLink ms-fontColor-themePrimary--hover ms-font-xl Section-Link" ari onclick="toggleCopyLink(this)" a-hidden="true"></i>
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg3 hidden">
                                                <input class="ms-TextField-field Link-TextField" type="text" value="" placeholder="">
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg1 hidden">
                                                <i class="ms-Icon ms-Icon--Copy ms-fontColor-themePrimary--hover ms-font-xl" aria-hidden="true" onclick="copyToClipboard(this)"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-l ms-fontWeight-regular">
                                <br>
                                If you have Group Policy setting from previous versions of Office use our <a href="https://github.com/OfficeDev/Office-IT-Pro-Deployment-Scripts/tree/master/Office-ProPlus-Preparation/Copy-OfficeGPOSettings">Copy-OfficeGPOSettings</a>
                                to migrate your settings to Office 2016                   
                            
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <br>
                            <br>
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-xl ms-fontWeight-semibold Script-Header">
                                <div class="container">
                                    <div class="ms-Grid">
                                        <div class="ms-Grid-row">
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg8">
                                                Would you like to see how to use our scripts?
                                                <i id="ExampleScripts" class="ms-Icon ms-Icon--MiniLink ms-fontColor-themePrimary--hover ms-font-xl Section-Link" ari onclick="toggleCopyLink(this)" a-hidden="true"></i>
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg3 hidden">
                                                <input class="ms-TextField-field Link-TextField" type="text" value="" placeholder="">
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg1 hidden">
                                                <i class="ms-Icon ms-Icon--Copy ms-fontColor-themePrimary--hover ms-font-xl" aria-hidden="true" onclick="copyToClipboard(this)"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-l ms-fontWeight-regular">
                                <br>
                                <a href="https://github.com/OfficeDev/Office-IT-Pro-Deployment-Scripts/tree/master/Office-ProPlus-Deployment/Deploy-OfficeClickToRun">Deployment Examples</a>
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <br>
                            <br>
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-xl ms-fontWeight-semibold Script-Header">
                                <div class="container">
                                    <div class="ms-Grid">
                                        <div class="ms-Grid-row">
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg8">
                                                Scripts
                                                <i id="Scripts" class="ms-Icon ms-Icon--MiniLink ms-fontColor-themePrimary--hover ms-font-xl Section-Link" ari onclick="toggleCopyLink(this)" a-hidden="true"></i>
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg3 hidden">
                                                <input class="ms-TextField-field Link-TextField" type="text" value="" placeholder="">
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg1 hidden">
                                                <i class="ms-Icon ms-Icon--Copy ms-fontColor-themePrimary--hover ms-font-xl" aria-hidden="true" onclick="copyToClipboard(this)"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-l ms-fontWeight-regular">
                                <br>
                                For more detailed documentation of each script, check the <a href="https://github.com/OfficeDev/Office-IT-Pro-Deployment-Scripts/wiki">Wiki</a>
                                or the readme file in the corresponding folder              
                            
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <br>
                            <br>
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-xl ms-fontWeight-semibold Script-Header">
                                <div class="container">
                                    <div class="ms-Grid">
                                        <div class="ms-Grid-row">
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg8">
                                                New to PowerShell and Office 365?
                                                <i id="NewToPowershell" class="ms-Icon ms-Icon--MiniLink ms-fontColor-themePrimary--hover ms-font-xl Section-Link" ari onclick="toggleCopyLink(this)" a-hidden="true"></i>
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg3 hidden">
                                                <input class="ms-TextField-field Link-TextField" type="text" value="" placeholder="">
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg1 hidden">
                                                <i class="ms-Icon ms-Icon--Copy ms-fontColor-themePrimary--hover ms-font-xl" aria-hidden="true" onclick="copyToClipboard(this)"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-l ms-fontWeight-regular">
                                <br>
                                Check out <a href="http://powershell.office.com/">PowerShell for Office 365</a>
                                for advice on getting started, key scenarios and script samples.
                            
                            
                            
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <br>
                            <br>
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-xl ms-fontWeight-semibold Script-Header">
                                <div class="container">
                                    <div class="ms-Grid">
                                        <div class="ms-Grid-row">
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg8">
                                                Questions and comments?
                                                <i id="QuestionsComments" class="ms-Icon ms-Icon--MiniLink ms-fontColor-themePrimary--hover ms-font-xl Section-Link" ari onclick="toggleCopyLink(this)" a-hidden="true"></i>
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg3 hidden">
                                                <input class="ms-TextField-field Link-TextField" type="text" value="" placeholder="">
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg1 hidden">
                                                <i class="ms-Icon ms-Icon--Copy ms-fontColor-themePrimary--hover ms-font-xl" aria-hidden="true" onclick="copyToClipboard(this)"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-l ms-fontWeight-regular">
                                <br>
                                If you have any trouble running this sample, please <a href="https://github.com/OfficeDev/Office-IT-Pro-Deployment-Scripts/issues">log an issue.</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
