<div class="ms-Grid-col ms-u-sm12" style="height:100%">
    <div class="container" style="height:100%">
        <div class="ms-Grid" style="height:100%">
            <div class="ms-Grid-row" style="height:100%">
                <div class="ms-Grid-col ms-u-sm12 " style="height:100%">
                    <div class="ms-Grid ms-bgColor-white ms-font-m PartialView-Item Scripts">
                        <div class="ms-Grid-row">
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-xxl ms-fontWeight-semibold">Scripts
                            </div>
                        </div>
                       
                        
                          <div class="ms-Grid-row">
                            <br>
                            <br>
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-xl ms-fontWeight-semibold Script-Header">
                                <div class="container">
                                    <div class="ms-Grid">
                                        <div class="ms-Grid-row">
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg8">
                                                Are you upgrading from a previous version of Office?
                                                <i id="OfficeUpgrade" class="ms-Icon ms-Icon--MiniLink ms-fontColor-themePrimary--hover ms-font-xl Section-Link" ari onclick="toggleCopyLink(this)" a-hidden="true"></i>
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg3 hidden">
                                                <input class="ms-TextField-field Link-TextField" type="text" value="" placeholder="">
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg1 hidden">
                                                <i class="ms-Icon ms-Icon--Copy ms-fontColor-themePrimary--hover ms-font-xl" aria-hidden="true" onclick="copyToClipboard(this)"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-l ms-fontWeight-regular">
                                <br>
                                <a href="https://github.com/OfficeDev/Office-IT-Pro-Deployment-Scripts/blob/master/Office-ProPlus-Deployment/Deploy-OfficeClickToRun/Upgrade_Office2007_README.md">Upgrade from Office 2007</a>
                                <br/><br/>
                                <a href="https://github.com/OfficeDev/Office-IT-Pro-Deployment-Scripts/blob/master/Office-ProPlus-Deployment/Deploy-OfficeClickToRun/Upgrade_Office2010_README.md">Upgrade from Office 2010</a>
                                <br/><br/>
                                <a href="https://github.com/OfficeDev/Office-IT-Pro-Deployment-Scripts/blob/master/Office-ProPlus-Deployment/Deploy-OfficeClickToRun/Upgrade_Office2013_README.md">Upgrade from Office 2013</a>
                            </div>
                        </div>
                        
                        <div class="ms-Grid-row">
                            <br>
                            <br>
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-xl ms-fontWeight-semibold Script-Header">
                                <div class="container">
                                    <div class="ms-Grid">
                                        <div class="ms-Grid-row">
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg8">
                                                Do you want to set up a dynamic solution to deploy Office 365 ProPlus?
                                                <i id="DeployOffice" class="ms-Icon ms-Icon--MiniLink ms-fontColor-themePrimary--hover ms-font-xl Section-Link" ari onclick="toggleCopyLink(this)" a-hidden="true"></i>
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg3 hidden">
                                                <input class="ms-TextField-field Link-TextField" type="text" value="" placeholder="">
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg1 hidden">
                                                <i class="ms-Icon ms-Icon--Copy ms-fontColor-themePrimary--hover ms-font-xl" aria-hidden="true" onclick="copyToClipboard(this)"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-l ms-fontWeight-regular">
                                <br>
                                A basic deployment can be configured in just a few steps:
                                <br/><br/>
                                1.	Generate a dynamic ODT configuration xml file using a computer's existing installation settings using the <a href="https://github.com/OfficeDev/Office-IT-Pro-Deployment-Scripts/tree/master/Office-ProPlus-Deployment/Generate-ODTConfigurationXML">Generate-ODTConfigurationXML</a> script. This script will detect the languages and Office products that may already be installed.
                                <br/><br/> 
                                2.	Edit the configuration xml file using the <a href="https://github.com/OfficeDev/Office-IT-Pro-Deployment-Scripts/tree/master/Office-ProPlus-Deployment/Edit-OfficeConfigurationFile">Edit-ODTConfigurationFile</a> script. This function is designed to reduce the effort required to create or makes changes to the configuration file while also reducing the chance of formatting errors in xml.
                                <br/><br/>
                                3.	Install Office 365 ProPlus using the <a href="https://github.com/OfficeDev/Office-IT-Pro-Deployment-Scripts/tree/master/Office-ProPlus-Deployment/Install-OfficeClickToRun">Install-OfficeClickToRun</a> script. This PowerShell function will take an existing Office Click-To-Run configuration xml and deploy it using the Office Deployment Tool (ODT).

                            </div>
                        </div>
                        
                        
                        <div class="ms-Grid-row">
                            <br>
                            <br>
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-xl ms-fontWeight-semibold Script-Header">
                                <div class="container">
                                    <div class="ms-Grid">
                                        <div class="ms-Grid-row">
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg8">
                                                Do you have System Center Configuration Manager?
                                                <i id="UseSCCM" class="ms-Icon ms-Icon--MiniLink ms-fontColor-themePrimary--hover ms-font-xl Section-Link" ari onclick="toggleCopyLink(this)" a-hidden="true"></i>
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg3 hidden">
                                                <input class="ms-TextField-field Link-TextField" type="text" value="" placeholder="">
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg1 hidden">
                                                <i class="ms-Icon ms-Icon--Copy ms-fontColor-themePrimary--hover ms-font-xl" aria-hidden="true" onclick="copyToClipboard(this)"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-l ms-fontWeight-regular">
                                <br>
                                You can automate the configuration of ConfigMgr to deploy and manage your Office ProPlus environment using <a href="https://github.com/OfficeDev/Office-IT-Pro-Deployment-Scripts/tree/master/Office-ProPlus-Deployment/Setup-CMOfficeDeployment">Deploying Office ProPlus with Configuration Manager</a>
                                <br/><br/>
                                We also provide Office ProPlus specific reports. Office ProPlus ConfigMgr Reports
                            </div>
                        </div>
                        
                        
                        <div class="ms-Grid-row">
                            <br>
                            <br>
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-xl ms-fontWeight-semibold Script-Header">
                                <div class="container">
                                    <div class="ms-Grid">
                                        <div class="ms-Grid-row">
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg8">
                                                Do you use Group Policy to configure your Office clients?
                                                <i id="GroupPolicy" class="ms-Icon ms-Icon--MiniLink ms-fontColor-themePrimary--hover ms-font-xl Section-Link" ari onclick="toggleCopyLink(this)" a-hidden="true"></i>
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg3 hidden">
                                                <input class="ms-TextField-field Link-TextField" type="text" value="" placeholder="">
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg1 hidden">
                                                <i class="ms-Icon ms-Icon--Copy ms-fontColor-themePrimary--hover ms-font-xl" aria-hidden="true" onclick="copyToClipboard(this)"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-l ms-fontWeight-regular">
                                <br>
                                If you have Group Policy setting from previous versions of Office use our <a href="https://github.com/OfficeDev/Office-IT-Pro-Deployment-Scripts/tree/master/Office-ProPlus-Preparation/Copy-OfficeGPOSettings">Copy-OfficeGPOSettings</a> to migrate your settings to Office 2016.
                                <br/><br/>
                               You can automate the configuration of Group Policy to deploy and manage your Office ProPlus environment using <a href="https://github.com/OfficeDev/Office-IT-Pro-Deployment-Scripts/tree/master/Office-ProPlus-Deployment/Setup-GPOOfficeInstallation">Deploying Office ProPlus with Group Policy</a>
                                <br/><br/>
                               You can prevent specific versions of Office from being opened by using the <a href="https://github.com/OfficeDev/Office-IT-Pro-Deployment-Scripts/tree/master/Office-ProPlus-Deployment/Lock-OfficeApps">New-OfficeAppLockGPO</a> script.
                            </div>
                        </div>
                        
                        
                        <div class="ms-Grid-row">
                            <br>
                            <br>
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-xl ms-fontWeight-semibold Script-Header">
                                <div class="container">
                                    <div class="ms-Grid">
                                        <div class="ms-Grid-row">
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg8">
                                               Would you like a faster and easier way to download your Office ProPlus files
                                               <i id="FasterDownload" class="ms-Icon ms-Icon--MiniLink ms-fontColor-themePrimary--hover ms-font-xl Section-Link" ari onclick="toggleCopyLink(this)" a-hidden="true"></i>
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg3 hidden">
                                                <input class="ms-TextField-field Link-TextField" type="text" value="" placeholder="">
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg1 hidden">
                                                <i class="ms-Icon ms-Icon--Copy ms-fontColor-themePrimary--hover ms-font-xl" aria-hidden="true" onclick="copyToClipboard(this)"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-l ms-fontWeight-regular">
                                <br>
                                Try using <a href="https://github.com/OfficeDev/Office-IT-Pro-Deployment-Scripts/tree/master/Office-ProPlus-Deployment/Download-OfficeProPlusBranch">Download-OfficeProPlusChannels</a> to quickly and easily download from multiple Channels and languages with one operation.
                            </div>
                        </div>
                        
                        
                         <div class="ms-Grid-row">
                            <br>
                            <br>
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-xl ms-fontWeight-semibold Script-Header">
                                <div class="container">
                                    <div class="ms-Grid">
                                        <div class="ms-Grid-row">
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg8">
                                              Do you want to change to a different Office update channel?
                                                <i id="ChangeChannel" class="ms-Icon ms-Icon--MiniLink ms-fontColor-themePrimary--hover ms-font-xl Section-Link" ari onclick="toggleCopyLink(this)" a-hidden="true"></i>
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg3 hidden">
                                                <input class="ms-TextField-field Link-TextField" type="text" value="" placeholder="">
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg1 hidden">
                                                <i class="ms-Icon ms-Icon--Copy ms-fontColor-themePrimary--hover ms-font-xl" aria-hidden="true" onclick="copyToClipboard(this)"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-l ms-fontWeight-regular">
                                <br>
                                Use the <a href="https://github.com/OfficeDev/Office-IT-Pro-Deployment-Scripts/tree/master/Office-ProPlus-Deployment/Change-OfficeChannel">Change-OfficeChannel</a> script to easily move a client that already has Office 365 ProPlus to a different update channel.
                            </div>
                        </div>
                        
                        
                        <div class="ms-Grid-row">
                            <br>
                            <br>
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-xl ms-fontWeight-semibold Script-Header">
                                <div class="container">
                                    <div class="ms-Grid">
                                        <div class="ms-Grid-row">
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg8">
                                              Do you want to dynamically set a SourcePath by looking at Active Directory for a location?
                                                <i id="DynamicSource" class="ms-Icon ms-Icon--MiniLink ms-fontColor-themePrimary--hover ms-font-xl Section-Link" ari onclick="toggleCopyLink(this)" a-hidden="true"></i>
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg3 hidden">
                                                <input class="ms-TextField-field Link-TextField" type="text" value="" placeholder="">
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg1 hidden">
                                                <i class="ms-Icon ms-Icon--Copy ms-fontColor-themePrimary--hover ms-font-xl" aria-hidden="true" onclick="copyToClipboard(this)"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-l ms-fontWeight-regular">
                                <br>
                                This <a href="https://github.com/OfficeDev/Office-IT-Pro-Deployment-Scripts/tree/master/Office-ProPlus-Deployment/Dynamic-UpdateSource">Dynamic-UpdateSource</a> function works with the other deployment scripts to provide a way to dynamically set the SourcePath for the Office Click-To-Run configuration xml. The script uses the computers Active Directory site to lookup the SourcePath location from the LookupFilePath. The LookupFilePath is a CSV file that you will need to populate with the Active Directory site and corresponding SourcePath.
                            </div>
                        </div>
                        
                        
                         <div class="ms-Grid-row">
                            <br>
                            <br>
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-xl ms-fontWeight-semibold Script-Header">
                                <div class="container">
                                    <div class="ms-Grid">
                                        <div class="ms-Grid-row">
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg8">
                                              Do you want to create a configuration file to deploy specific language packs?
                                                <i id="LanguagePack" class="ms-Icon ms-Icon--MiniLink ms-fontColor-themePrimary--hover ms-font-xl Section-Link" ari onclick="toggleCopyLink(this)" a-hidden="true"></i>
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg3 hidden">
                                                <input class="ms-TextField-field Link-TextField" type="text" value="" placeholder="">
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg1 hidden">
                                                <i class="ms-Icon ms-Icon--Copy ms-fontColor-themePrimary--hover ms-font-xl" aria-hidden="true" onclick="copyToClipboard(this)"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-l ms-fontWeight-regular">
                                <br>
                                Use the <a href="https://github.com/OfficeDev/Office-IT-Pro-Deployment-Scripts/tree/master/Office-ProPlus-Deployment/Generate-ODTLanguagePackXML">Generate-ODTLanguagePackXML</a> script to create a configuration file that can be used to deploy additional language packs.
                            </div>
                        </div>
                        
                        
                        <div class="ms-Grid-row">
                            <br>
                            <br>
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-xl ms-fontWeight-semibold Script-Header">
                                <div class="container">
                                    <div class="ms-Grid">
                                        <div class="ms-Grid-row">
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg8">
                                              Do you want to remove Office Click-To-Run?
                                                <i id="RemoveClickToRun" class="ms-Icon ms-Icon--MiniLink ms-fontColor-themePrimary--hover ms-font-xl Section-Link" ari onclick="toggleCopyLink(this)" a-hidden="true"></i>
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg3 hidden">
                                                <input class="ms-TextField-field Link-TextField" type="text" value="" placeholder="">
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg1 hidden">
                                                <i class="ms-Icon ms-Icon--Copy ms-fontColor-themePrimary--hover ms-font-xl" aria-hidden="true" onclick="copyToClipboard(this)"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-l ms-fontWeight-regular">
                                <br>
                               This <a href="https://github.com/OfficeDev/Office-IT-Pro-Deployment-Scripts/tree/master/Office-ProPlus-Deployment/Remove-OfficeClickToRun">Remove-OfficeClickToRun</a> function will create a configuration xml file and uninstall Office Click-to-Run via the Office Deployment Tool (ODT).
                            </div>
                        </div>
                        
                        
                         <div class="ms-Grid-row">
                            <br>
                            <br>
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-xl ms-fontWeight-semibold Script-Header">
                                <div class="container">
                                    <div class="ms-Grid">
                                        <div class="ms-Grid-row">
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg8">
                                              Do you want to remove previous versions of Office?
                                                <i id="RemoveOffice" class="ms-Icon ms-Icon--MiniLink ms-fontColor-themePrimary--hover ms-font-xl Section-Link" ari onclick="toggleCopyLink(this)" a-hidden="true"></i>
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg3 hidden">
                                                <input class="ms-TextField-field Link-TextField" type="text" value="" placeholder="">
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg1 hidden">
                                                <i class="ms-Icon ms-Icon--Copy ms-fontColor-themePrimary--hover ms-font-xl" aria-hidden="true" onclick="copyToClipboard(this)"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-l ms-fontWeight-regular">
                                <br>
                               The <a href="https://github.com/OfficeDev/Office-IT-Pro-Deployment-Scripts/tree/master/Office-ProPlus-Deployment/Remove-PreviousOfficeInstalls">Remove-PreviousOfficeInstalls</a> function will remove installations of Office 2013 and older. The Offscrub vbs scripts are used to remove the MSI installations of Office products.

                            </div>
                        </div>
                        
                        
                              
                        
                         <div class="ms-Grid-row">
                            <br>
                            <br>
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-xl ms-fontWeight-semibold Script-Header">
                                <div class="container">
                                    <div class="ms-Grid">
                                        <div class="ms-Grid-row">
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg8">
                                              Would you like to see examples of how to use our scripts to create deployment solutions?
                                                <i id="Examples" class="ms-Icon ms-Icon--MiniLink ms-fontColor-themePrimary--hover ms-font-xl Section-Link" ari onclick="toggleCopyLink(this)" a-hidden="true"></i>
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg3 hidden">
                                                <input class="ms-TextField-field Link-TextField" type="text" value="" placeholder="">
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg1 hidden">
                                                <i class="ms-Icon ms-Icon--Copy ms-fontColor-themePrimary--hover ms-font-xl" aria-hidden="true" onclick="copyToClipboard(this)"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-l ms-fontWeight-regular">
                                <br>
                               Click <a href="https://github.com/OfficeDev/Office-IT-Pro-Deployment-Scripts/tree/master/Office-ProPlus-Deployment/Deploy-OfficeClickToRun">here</a>  to see a list of deployment examples.
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
