<div class="ms-Grid-col ms-u-sm12" style="height:100%">
    <div class="container" style="height:100%">
        <div class="ms-Grid" style="height:100%">
            <div class="ms-Grid-row" style="height:100%">
                <div class="ms-Grid-col ms-u-sm12 " style="height:100%">
                    <div class="ms-Grid ms-bgColor-white ms-font-m PartialView-Item Videos">
                        <div class="ms-Grid-row">
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-xxl ms-fontWeight-semibold">Videos
                            </div>
                        </div>
                        <div class="ms-Grid-row ">
                            <br>
                            <br>
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-xl ms-fontWeight-semibold Video-Header">
                                <div class="container">
                                    <div class="ms-Grid">
                                        <div class="ms-Grid-row">
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg8">
                                                Video Category 1
                                                <i id="VideoCat1" class="ms-Icon ms-Icon--MiniLink ms-fontColor-themePrimary--hover ms-font-xl Section-Link" ari onclick="toggleCopyLink(this)" a-hidden="true"></i>
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg3 hidden">
                                                <input class="ms-TextField-field Link-TextField" type="text" value="" placeholder="">
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg1 hidden">
                                                <i class="ms-Icon ms-Icon--Copy ms-fontColor-themePrimary--hover ms-font-xl" aria-hidden="true" onclick="copyToClipboard(this)"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-l ms-fontWeight-regular">
                                <br>
                                <br>
                                <div class="container">
                                    <div class="ms-Grid">
                                        <div class="ms-Grid-row">
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-xxl6 ms-u-xxxl4">
                                                <iframe class="Video" src="https://www.youtube.com/embed/54jQ7ut3FBA" frameborder="0" allowfullscreen></iframe>
                                                <br>
                                                <div class="ms-fontSize-l ms-fontWeight-regular">Uniquely embrace worldwide customer service with frictionless expertise. Synergistically transform proactive bandwidth without world-class potentialities. Rapidiously cultivate bricks-and-clicks imperatives and end-to-end human capital. Appropriately promote.
                                                </div>
                                                <div class="ms-fontSize-l ms-fontWeight-light">
                                                    Date: April 20 2017
                                                    <br>Duration: 10 Minutes 21 Seconds
                                                
                                                
                                                </div>
                                                <br>
                                                <br>
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12  ms-u-xxl6 ms-u-xxxl4">
                                                <iframe class="Video" src="https://www.youtube.com/embed/TLPWqCMb7DE" frameborder="0" allowfullscreen></iframe>
                                                <br>
                                                <div class="ms-fontSize-l ms-fontWeight-regular">Uniquely embrace worldwide customer service with frictionless expertise. Synergistically transform proactive bandwidth without world-class potentialities. Rapidiously cultivate bricks-and-clicks imperatives and end-to-end human capital. Appropriately promote.
                                                </div>
                                                <div class="ms-fontSize-l ms-fontWeight-light">
                                                    Date: April 20 2017
                                                    <br>Duration: 10 Minutes 21 Seconds
                                                
                                                
                                                </div>
                                                <br>
                                                <br>
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12  ms-u-xxl6 ms-u-xxxl4">
                                                <iframe class="Video" src="https://www.youtube.com/embed/9OEz_e9C4KM" frameborder="0" allowfullscreen></iframe>
                                                <br>
                                                <div class="ms-fontSize-l ms-fontWeight-regular">Uniquely embrace worldwide customer service with frictionless expertise. Synergistically transform proactive bandwidth without world-class potentialities. Rapidiously cultivate bricks-and-clicks imperatives and end-to-end human capital. Appropriately promote.
                                                </div>
                                                <div class="ms-fontSize-l ms-fontWeight-light">
                                                    Date: April 20 2017
                                                    <br>Duration: 10 Minutes 21 Seconds
                                                
                                                
                                                </div>
                                                <br>
                                                <br>
                                            </div>
                                                        <div class="ms-Grid-col ms-u-sm12  ms-u-xxl6 ms-u-xxxl4">
                                                <iframe class="Video" src="https://www.youtube.com/embed/xlh4eSMFAIA" frameborder="0" allowfullscreen></iframe>                                                <div class="ms-fontSize-l ms-fontWeight-regular">Uniquely embrace worldwide customer service with frictionless expertise. Synergistically transform proactive bandwidth without world-class potentialities. Rapidiously cultivate bricks-and-clicks imperatives and end-to-end human capital. Appropriately promote.
                                                </div>
                                                <div class="ms-fontSize-l ms-fontWeight-light">
                                                    Date: April 20 2017
                                                    <br>Duration: 10 Minutes 21 Seconds
                                                
                                                
                                                </div>
                                                <br>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <br>
                            </div>
                        </div>
                        <div class="ms-Grid-row ">
                            <br>
                            <br>
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-xl ms-fontWeight-semibold Video-Header">
                                <div class="container">
                                    <div class="ms-Grid">
                                        <div class="ms-Grid-row">
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg8">
                                                Video Category 2
                                                <i id="VideoCat2" class="ms-Icon ms-Icon--MiniLink ms-fontColor-themePrimary--hover ms-font-xl Section-Link" ari onclick="toggleCopyLink(this)" a-hidden="true"></i>
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg3 hidden">
                                                <input class="ms-TextField-field Link-TextField" type="text" value="" placeholder="">
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-lg1 hidden">
                                                <i class="ms-Icon ms-Icon--Copy ms-fontColor-themePrimary--hover ms-font-xl" aria-hidden="true" onclick="copyToClipboard(this)"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ms-Grid-row">
                            <div class="ms-Grid-col ms-u-sm12 ms-fontSize-l ms-fontWeight-regular">
                                <br>
                                <br>
                                <div class="container">
                                    <div class="ms-Grid">
                                        <div class="ms-Grid-row">
                                            <div class="ms-Grid-col ms-u-sm12 ms-u-xxl6 ms-u-xxxl4">
                                                <iframe class="Video" src="https://www.youtube.com/embed/VdjYVF4a6iU" frameborder="0" allowfullscreen></iframe>                                                <br>
                                                <div class="ms-fontSize-l ms-fontWeight-regular">Uniquely embrace worldwide customer service with frictionless expertise. Synergistically transform proactive bandwidth without world-class potentialities. Rapidiously cultivate bricks-and-clicks imperatives and end-to-end human capital. Appropriately promote.
                                                </div>
                                                <div class="ms-fontSize-l ms-fontWeight-light">
                                                    Date: April 20 2017
                                                    <br>Duration: 10 Minutes 21 Seconds
                                                
                                                
                                                </div>
                                                <br>
                                                <br>
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12  ms-u-xxl6 ms-u-xxxl4">
                                                <iframe class="Video" src="https://www.youtube.com/embed/zksVZCJajCI" frameborder="0" allowfullscreen></iframe>                                                <br>
                                                <div class="ms-fontSize-l ms-fontWeight-regular">Uniquely embrace worldwide customer service with frictionless expertise. Synergistically transform proactive bandwidth without world-class potentialities. Rapidiously cultivate bricks-and-clicks imperatives and end-to-end human capital. Appropriately promote.
                                                </div>
                                                <div class="ms-fontSize-l ms-fontWeight-light">
                                                    Date: April 20 2017
                                                    <br>Duration: 10 Minutes 21 Seconds
                                                
                                                
                                                </div>
                                                <br>
                                                <br>
                                            </div>
                                            <div class="ms-Grid-col ms-u-sm12  ms-u-xxl6 ms-u-xxxl4">
                                                <iframe class="Video" src="https://www.youtube.com/embed/SWVu-qPR-Ws" frameborder="0" allowfullscreen></iframe>                                                <br>
                                                <div class="ms-fontSize-l ms-fontWeight-regular">Uniquely embrace worldwide customer service with frictionless expertise. Synergistically transform proactive bandwidth without world-class potentialities. Rapidiously cultivate bricks-and-clicks imperatives and end-to-end human capital. Appropriately promote.
                                                </div>
                                                <div class="ms-fontSize-l ms-fontWeight-light">
                                                    Date: April 20 2017
                                                    <br>Duration: 10 Minutes 21 Seconds
                                                
                                                
                                                </div>
                                                <br>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
