body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    width: 100%;
}

#btAbout {
    margin-right: 3px;
    width: 50px;
}

.checkboxLabel {
    display: inline;
    padding-left: 10px;
    font-size: x-large;
    cursor: pointer;
}

.custom-Dialog {
    min-height: 250px;
    height: auto;
    width: 100%;
    z-index: 1;
}

.custom-Dialog-main {
    height: 100%;
    width: 85%;
    margin-left: 2%;
    margin-right: auto;
    margin-top: 2%;
}

.custom-back-button {
    display: block;
    position: static;
    margin-top: 10px;
    margin: 0;
    border: 0;
    background: 0 0;
    cursor: pointer;
    top: 12px;
    right: 12px;
    padding: 8px;
    z-index: 10;
}

.custom-back-button > img {
    height: 25px;
    width: 25px;
}

.custom-back-button > span {
    margin-left: 5px;
    vertical-align: middle;
}

.custom-Dialog-inner {
    width: 100%;
    padding-left: 8px;
}

.custom-Dialog-actions {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

.custom-Dialog-actions > div {
    width: 100%;
}

.languagesGrid {
    margin-bottom: 1%;
}

.languagesContinue {
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}


.confirmationActions {
    width: 100%;
    height: 100%;
    margin: 10px;
    margin-right: auto;
    margin-left: 10%;
}

.confirmationActions > div {
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}

.confirmationActions > div > button {
    width: 20%;
    height: 50px;
    margin-left: 30%;
    margin-bottom: 40px;
    margin-right: auto;
}


.hidden {
    display: none;
}

input[type=checkbox],input[type=radio] {
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    margin-right: 10px;
}

.questionDiv {
    margin-bottom: 10px;
}

.taggle_list > .taggle {
    background: #0078d7 !important;
    color: white;
}

.questionAnswer {
    margin-left: 10px;
}

.helpButton {
    /*margin-left:70%;*/
    float:right;
    border-left: 1px solid #4c9cd6;
    border-right: 1px solid #4c9cd6;
    padding: 15px 10px 15px 14px;
    
    cursor:pointer;
}



.banner {
    width: 100%;
    position: relative;
    top: 0;
    text-align: left;
    line-height: normal;
}


.banner-label {
    float:left;
    vertical-align: bottom;
    padding-left:10px;
    border-left: 1px solid #4c9cd6;
    margin-top:10px;
    margin-bottom:10px;
}

.companyName {
    float:left;
    padding-right:10px;
    margin-top:10px;
    margin-bottom:10px;
    font-weight: bold;
}

.custom-SearchBox {
    width: 100% !important;
    padding-top: 0;
    margin-left: 0;
}


.custom-SearchBox .taggle_placeholder {
    top: 6px;
}

.custom-SearchBox .taggle_list .taggle:hover {
    padding: 5px;
    padding-right: 15px;
    background: #005a9e;
    transition: all .3s;
}


.custom-SearchBox .ui-menu .ui-menu-item a:hover {
    background: #0078d7;
}

.languageli {
    width: 33%;
    margin-bottom: 10px;
    text-align: left;
    display: inline-block;
}


.custom-banner {
    padding-top: 20px;
    background-color: #00BCF2;
}

.custom-mini-banner {
    background-color: #00BCF2;
    color: white;
    padding: 10px 10px 5px 10px;
}

.mini-banner-label,
.mini-banner-toggle {
    width: auto;
    color: white !important;
    padding-top: 15px;
}

.mini-banner-label {
    float: left;
    padding-right: 5px;
}

.mini-banner-toggle {
    float: left;
    text-decoration: underline;
    cursor: pointer;
}

.banner-text {
    margin-top: 7%;
    margin-left: 7%;
}

    .banner-text > div {
        color: white;
    }

.custom-banner > .ms-Grid-row > .ms-Grid-col > img {
    padding-top: 10%;
}

.custom-banner > .ms-Grid-row > .ms-Grid-col > i {
    font-size: 30px;
    color: white;
    cursor: pointer;
    margin-top: 12%;
    padding-left: 80%;
}

.custom-banner > .ms-Grid-row button {
    min-width: 9%;
    margin-left: 7%;
    margin-bottom: 2%;
    margin-top: 2%;
    background-color: #00BCF2;
    border: solid 1px white;
}

.custom-banner > .ms-Grid-row {
    padding-bottom: 10px;
}

span.ms-Button-label {
    color: white;
    margin-top: 5%;
    margin-bottom: 2%;
}

.description {
    margin-top: 5%;
    color: white;
    padding-right: 20%;
}


.custom-header {
    margin-right: auto;
    padding-bottom: 2%;
}

.custom-footer {
    position: relative;
    height: 100px;
    margin-top: 5%;
    bottom: 0;
    background-color: #F2F2F2;
}


.package {
    width: 93%;
    margin-top: 5%;
    margin-bottom: 4%;
}


.package-main {
    padding: 0 !important;
    box-shadow: 1px 1px 5px #e5e5e5;
    z-index: 1;
}

.package-inner {
    position: relative;
    margin: 0 !important;
    padding-top: 30px;
    background-color: #f2f2f2;
}

.package-people {
    font-size: 300%;
    float: left;
    padding: 5px 0 5px 0;
}

.package-tag {
    position: relative;
    top: 300%;
    float: right;
    left: -35%;
    margin-top: -50% !important;
    color: #767676;
    cursor: pointer;
}

.callout-open {
    color: #0078D7;
}

.type-label {
    position: absolute;
    float: left;
    margin-left: -20%;
    font-family: 'Segoe UI Light WestEuropean','Segoe UI Light','Segoe WP Light','Segoe UI','Segoe WP',Tahoma,Arial,sans-serif;
    font-weight: 500;
    color: #333333;
}

.location-label {
    position: absolute;
    float: left;
    margin-left: -20%;
    font-size: 75%;
    font-family: 'Segoe UI Regular WestEuropean','Segoe UI','Segoe WP',Tahoma,Arial,sans-serif;
    color: #767676;
    font-weight: 400;
    margin-top: !important;
}

.package-bottom {
    float: right;
    padding: 5%;
    cursor: pointer;
}

.package-download {
    color: #767676;
    margin-left: -5%;
}

.package-main:hover > .package-inner,
.package-main:hover > .package-inner > div > div > div > p,
.package-main:hover > .package-inner > div > .package-tag,
.display-control-outer:hover {
    background-color: #0078D7;
    color: white;
}

.package-main:hover {
    box-shadow: 1px 1px 5px #0078D7;
}

#custom-callout {
    position: absolute;
    height: 0;
    width: 50%;
    top: -12%;
    float: right;
    left: 95%;
    margin-left: -2%;
}


.custom-callout-header {
    background-color: #0078D7;
    color: white;
    z-index: 105;
}

.custom-callout-header, .custom-callout-inner {
    height: 50%;
    box-shadow: 1px 1px 5px #e5e5e5;
}


.custom-x {
    float: right;
    margin-top: -1%;
    margin-right: 5%;
    cursor: pointer;
    z-index: 150;
}

.custom-callout-inner {
    background-color: white;
    position: absolute;
    height: 50%;
    width: 100%;
    z-index: 105;
    overflow-y: scroll;
}

.tags-list {
    list-style-type: none;
    margin-left: -50px;
    color: black;
}

.display-controls {
    margin-bottom: 2%;
}

.display-control-outer {
    height: 30px;
    width: 35px;
    background-color: #EFF6FC;
    color: #666666;
    cursor: pointer;
}

.display-control-icon {
    cursor: pointer;
    font-size: 15px;
    padding: 7px;
}

.package-people-table {
    font-size: 25px;
    margin-left: 25px;
    padding: 7px;
}

.custom-first-cell {
    /*display: !important;*/
    min-width:200px !important;
    width:250px !important;
}

.custom-cell {
    border-bottom: 2px solid #eaeaea;
}

.custom-last-cell {
    width: 8%;
}

.custom-table-download, .download-link {
    float: right;
}

.download-link {
    padding-bottom: 0;
}

.custom-table-download {
    padding-bottom: 0;
}

.custom-table-tag, .custom-table-download {
    font-size: 15px;
    color: #666666;
}

.-header > .-title {
    padding-left: 8px;
}

.languages-button {
    height: 50px !important;
    width: 150px;
}

.confirmation-information {
    padding-top: 25px;
    padding-left: 17px;
    background-color: #F4F4F4;
}


.custom-footer > div {
    color: #767676;
    float: right;
    margin-top: 25px;
    margin-right: 20px;
}

.package-bottom > a {
    margin-right: 5%;
    color: #0078D7;
}

#listViewToggle {
    float: right;
}

#tileViewToggle {
    float: right;
}

.close-dialog{
    float:right;
    cursor:pointer;
}



.ms-ChoiceField .ms-ChoiceField-input:checked+.ms-ChoiceField-field:before{
    top:3px !important;
    left:3px !important;
}
