body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


/*Moving Inline css to custom classes*/ 
.checkboxLabel {
    display:inline;
    margin-left:5px;
    font-size:x-large;
    cursor:pointer;
 
}

.languageCheckBox {
    margin-bottom: -2px !important;
    cursor:pointer;
}
.squareButton, .squareButton-build{
    display:inline-block;
    padding: 10px 10px;
}

.squareButton-build button{
    width:250px;
    height:250px;
    display:inline-block;
}

.squareButton-build:hover > button{
    background-color:#0078D7;
}

.squareButton-build:hover > button > i,
.squareButton-build:hover > button > p,
.squareButton-build:hover > button > div{
    color:white;
}

.modalListVersion{
    text-align:center;
    width:80%;
    height:80%;
    margin:10% auto;
}

.modalList{
    text-align:center;
}

.ms-Button--primary.ms-bgColor-orangeLight{
    background-color:orange;
    border-color:orange;
}
.ms-bgColor-orangeLight.ms-Button--primary.ms-Button:focus{
    background-color:#ff8c00;
    border-color:#ff8c00;
}
.ms-bgColor-orangeLight.ms-Button--primary.ms-Button:hover{
    background-color:#ff8c00;
    border-color:#ff8c00;
}
.custom-Dialog {
    height:100%;
    width:100%;
}

.custom-Dialog-main {
    width: 80%;
    height: 80%;
    max-width: none;
    box-shadow:none;
    overflow:hidden;
    border:3px solid #0078D7;
    padding: 10px 15px;
    z-index:2;
}

.custom-Dialog-title{
    color:#0078D7;
    font-size:x-large;
}

hr{
    border-color: #0078D7;
}

.custom-back-button{
    display:block;
    position:static;
    margin-top:10px;
    margin: 0;
    border: 0;
    background: 0 0;
    cursor: pointer;
    top: 12px;
    right: 12px;
    padding: 8px;
    z-index: 10;
}

.custom-back-button > img{
    height:35px;
}

.custom-back-button > span{
    margin-left:5px;
    vertical-align:middle
}

.custom-Dialog-inner{
    width:100%;
    height:75%;
    overflow:auto;
    z-index:1;
}

.custom-Dialog-actions{
    width:100%;
}

.custom-Dialog-actions > div{
    width:100%;
}

.squareButton > button{
    width:225px;height:250px;
}

.squareButton > button > i{
    font-size:100px;
}

.squareButton > button > p{
    display:block;
}

.languages{
    width:100%;
}

.languagesGrid{
    margin-bottom:1%;
}

.languagesContinue{
    width:100%; height: 100%;
    margin-right:auto;
    margin-left:auto;
    text-align:center;
}

.confirmationField{
    padding-bottom:1%;
}

.confirmationActions{
    width:100%; 
    height: 100%;
    margin-right:auto;
    margin-left:auto
}

.confirmationActions > div{
    width:100%; 
    height: 100%;
    margin-right:auto;
    margin-left:auto
}

.confirmationActions > div > button{
    width:20%;
    height:50px;
    margin-left:30%;
    margin-right:auto;
}

.confirmation-Dialog-inner{
    width:80%;
    height:auto;
    margin-left:20%;
    margin-right:auto; 
}

.hidden{
    display:none;
}

input[type=checkbox]
{
  -ms-transform: scale(2); 
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  margin-right:10px;
}

.questionDiv{
    margin-bottom:10px;
}

.questionAnswer{
    margin-left:10px;
}

.helpButton{
    height:50px;
    width:50px;
    font-size:25px;
    text-align:center;
    padding-top:13px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-left-color: rgba(255, 255, 255, 0.3);
    border-right-color: rgba(255, 255, 255, 0.3);
}

.helpButton:hover{
    background-color:#005a9e;
}

.banner{
    width:100%;
    height:50px;
    position:absolute;
    top:0;
    text-align:left;
    line-height:normal;
}

.custom-SearchBox{
    min-width:200px;
    width:auto;
    padding-top:0px;
    padding-left:0px
}

.custom-SearchBox .taggle_list .taggle{
    color: white;
    background-color: #0078d7;
    border-color:#0078d7;
}

.custom-SearchBox .taggle_placeholder{
    top:6px;
}

.custom-SearchBox .taggle_list .taggle:hover {
  padding: 5px;
  padding-right: 15px;
  background: #005a9e;
  transition: all .3s;
}

.custom-SearchBox .autocomplete ul li {
  background: #0078d7;
  background-color: #0078d7;
  color: white;
  cursor: pointer;
}

.custom-SearchBox .ui-menu .ui-menu-item a:hover{
    background: #0078d7;
}

::selection {
  background: #0078d7;
  color: #fff;
}

.languageli{
    display:inline-block;
    width:33%;
    text-align:left;
}

.languageul{
    text-align:center;
}

.version-box{
    height:100%;
    width:100%;

}

.version-box > p{ 
    padding-top:20px;
    width:100%;
    text-align:left;
    vertical-align:bottom;
}

.version-img{
    height:100px;
    margin-top:15%;
}

.squareButton{
    height:250px;
    width:250px;
    margin:1%;
}
