.vshost.exe

# Ignore `bin` and 'obj' dir
bin/
obj/
# or
*/bin/*
*/obj/*
/Office-ProPlus-Deployment/SelfServiceWebDeployment/Deploy/csx/Debug/roles/OfficeProPlusSelfServiceSite/plugins/Diagnostics/Monitor/x64/Extensions/ApplicationInsightsExtension/System.Threading.Tasks.xml
