.vshost.exe
*.suo
*.cache
*.lref
/Office-ProPlus-Deployment/Microsoft.ProPlus.InstallGenerator/InstallGenWPF/bin/Debug/8712149.pfx
/Office-ProPlus-Deployment/Microsoft.ProPlus.InstallGenerator/InstallGenWPF/bin/Debug/823053.pfx
/Office-ProPlus-Deployment/Microsoft.ProPlus.InstallGenerator/InstallGenWPF/bin/Debug/4852845.pfx
/Office-ProPlus-Deployment/Microsoft.ProPlus.InstallGenerator/InstallGenWPF/bin/Debug/245239.pfx
/Office-ProPlus-Deployment/Microsoft.ProPlus.InstallGenerator/InstallGenWPF/bin/Debug/222496.pfx
/Office-ProPlus-Deployment/Microsoft.ProPlus.InstallGenerator/InstallGenWPF/bin/Debug/OfficeProPlusInstallToolkit.vshost.exe.manifest
/Office-ProPlus-Deployment/SelfServiceWebDeployment
