@{
    ViewBag.Title = "_banner";
}

<table class="ms-bgColor-themePrimary banner">
    <tr>
        <td style="padding-left: 10px;">
            <img class="ms-fontColor-white companyLogo" style="height:30px;vertical-align:bottom"/>
            <span class="ms-font-xl ms-fontColor-white companyName" style="font-size:22px;padding-right:15px;">
                CompanyLogo/Name
            </span>
            <span class="ms-font-xl ms-fontColor-white" style="border-left:1px solid white; padding-left:15px;font-size:22px">
                Office Self Service Deployment
            </span>
        </td>
        <td style="text-align: right;height: 100%;padding-right: 10px;cursor:pointer" onclick="showModal('helpModal')">
            <span id="btAbout" class="ms-fontColor-white ms-Icon ms-Icon--question helpButton"></span>
        </td>
    </tr>
</table>
