@{
    ViewBag.Title = "_help";
}
<div class="ms-Dialog-main custom-Dialog-main">
    <button class="ms-Dialog-button custom-back-button" onclick="showModal('versionModal')">
        <img class="ms-Icon ms-Icon--x" src="~/Content/imgs/arrow-left-icon.svg" />
        <span class="ms-font-l">Back</span>
    </button>
    <div class="ms-Dialog-header">
        <p class="ms-Dialog-title">Support Page</p>
        <hr />
    </div>
    <div id="helpContent" class="ms-Dialog-inner custom-Dialog-inner">

    </div>
</div>
