@media screen and (min-width: 0px) and (max-width: 480px){
	#siteNav {margin-right: -15px;}
}

@media screen and (min-width: 481px){
	#siteNav{margin-right:0px;}
}

.hidden{
	display: none;
}

.Header{
	margin:-8px -16px -20px -16px;
	min-height:180px;
	border-bottom:1px solid #106ebe;
	width: inherit;
}

.Header-Subtext{
	color:#b3d6f2;
}

.Header-buttonRow{
	text-align: center;
}

.Header-button{
	color:white;
	border-color: white;
	border-width: 1px;
	background-color: #2488d8;
	margin-bottom:5px;
}

.Header-button:hover{
	background-color:#0078d7;
}
.Home,.Tutorials, .Section-Header{
	margin-top:10px;
}


.Vertical-Nav{
	background-color:#f4f4f4;
	border-right: 1px solid #eaeaea;
	margin-left:-15px;
	margin-top:20px;
	/*max-width: 200px; */
}

.Nav-Option{
	background-color: #f4f4f4;
	color:#3c3c3c;
	width: auto;
	min-height:32px;
  	text-overflow: ellipsis;
	cursor:pointer;
	padding: 5px 5px 5px 10px;
	margin-top:5px;
	border-bottom: 1px solid #eaeaea;
}

.selected{
	color: #2488d8;
}

.Nav-Option:hover{
	color:#2488d8;
}

.Section-Header{
	border-bottom: 1px solid #a6a6a6;
	color:#3c3c3c;
	margin-left:10px;
	margin-top: 30px;
	cursor: pointer;
}

.Section-Body{
	background-color:  #f4f4f4;
	min-height: 50px;
	margin:10px 0px 0px 10px;
	margin-left:10px;
	padding:10px;
}

.section-Header-Chevron{
	color:#3c3c3c
}

.open-Chevron{
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.close-Chevron{
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.ChatResponse{
	background-color: #69afe5; 
	float:left;
	color: white; 
}

.ChatPrompt{
	background-color:#eaeaea; 
	float:right;
	color: black; 
}

.ChatPrompt, .ChatResponse{
	min-height: 100px;
	padding: 10px;
	border:1px solid #3c3c3c;
	margin: 10px; 
	width:60%;
}

.ChatArea{
	height:500px;
	overflow-y: scroll;
	background-color: #a6a6a6;
	border:1px solid #3c3c3c;
}

#ChatControls{
	margin-top:5px;
	padding-left: 0px;
}

.CardButton{
	margin: 2px;
		border:1px solid #3c3c3c;
}