@media screen and (min-width: 0px) and (max-width: 639px){
	#Trending,#siteNav {margin-right: -15px;}
	#Trending{display:none;}

}

@media screen and (min-width: 640px){
	#siteNav{margin-right:0px;}
		#Trending{display:initial;}
}


.ms-Grid{
	/*padding: 0px 0px 0px 0px !important;*/
}

.hidden{
	display: none;
}

.Header{
	margin: -8px -16px -20px -16px;
	min-height:180px;
	border-bottom:1px solid #106ebe;
}

.Header-Subtext{
	color:#b3d6f2;
}

.Header-buttonRow{
	text-align: center;
}

.Header-button{
	color:white;
	border-color: white;
	border-width: 1px;
	background-color: #005a9e;
	margin-bottom:5px;
}

.Header-button:hover{
	background-color:#0078d7;
}

.Home,.Videos, .Scripts, .Toolkit, .XmlEditor, .Section-Header,.Faq{
	margin-top:10px;
}

.Faq{
	padding: 30px 30px 30px 30px !important;
	margin-bottom: 30px;
}

.Faq-Header{
	border-bottom: 1px solid #c8c8c8;
}

.Site-Content
{
	margin:20px -16px 0px -20px;
	height:100%;
}


.Nav-Option{
	padding: 10px 0 10px 10px;
	cursor:pointer;
}

#Nav{
	height:100%;
}

#partialViews{
	padding: 20px 20px 0px 20px;
	height: 100%;
	/* bottom: 0; */
}

#trendingTopics{
	padding: 10px 15px 0px 15px;
}

#trendingTopics div.container div.ms-Grid div.ms-Grid-row{
	margin: 0 -16px 0 0px;
}

.trendingHeader, .topic, .topicImg{
	padding: 5px 0px 5px 0px;
}

.topic{
	cursor:pointer;
}
.topicImg{
	cursor:pointer;
	width: 95%;
	height: inherit;
}

.Selected{
	color:#0078d7;
	background-color: #b3d6f2;
}

.PartialView-Item{
	padding: 15px;
	margin: 5px 5px 20px 5px;
}

.Automation-Carousel,.Test-Scripts-Carousel{
	padding: 15px 15px 0px 15px;
	margin: 5px 5px 0px 5px;
}

.Carousel-Img{
	cursor:pointer;
	height:inherit; 
	width:95%;
}

.Carousel-Text{
	cursor:pointer;
	padding: 10px 8px 8px 8px;
}

.Carousel-Chevron{
	cursor:pointer;
}

.Carousel-Header{
	margin: 0px 0px -70px 0px;
}