body{
    margin-top: 0px;
}


@media screen and (min-width: 0px) and (max-width: 479px){
    #configColumn {border-left:none;}
    #configColumn {height:auto;}
    #LeftNav {height:auto;}
    #XmlPane{height:auto;}

}

@media screen and (min-width: 480px){
       #configColumn {border-left: 1px solid #eaeaea;}
       #configColumn {height:100%;}
       #LeftNav {height:100%;}
       #XmlPane{height:100%;}
}


#CommandBar{
    min-height:50px;
    margin-left: -8px;
    margin-right: 0;
    padding:0px 0px 0px 10px;
}

.xmlCommandBar{
    min-height:40px;
    background:#eff6fc;
    padding:10px 0px 10px 0px;
}

.xmlCommandBar-item{
    margin: 0px 0px 0px 8px;
    padding: 10px 15px 0px 15px;
    min-height: 40px;
    font-size: 11px;
}
.xmlCommandBar-item  > i {
    padding: 0px 2px 0px 0px;
    font-weight: bold;
}
.CommandBarItem{
    border-left: solid 1px white;
    height:100%;
    padding:10px;
    text-align: center;
    cursor:pointer;
}

.CommandBarTitle{
    margin-top:10px;
}

#LeftNav{
    padding: 0px 0px 0px 5px;
    margin-top:20px;
}

.NavOptions{
    margin: 30px 15px 20px 15px;
}

.NavOption, .VersionOption{
    padding-top:5px;
    min-height: 30px;
}

#configColumn{
    border-left: 1px solid #eaeaea;
}

.is-selected{
    background: #b3d6f2;
}

.option-panel{
    display: none
}

.visible{
    display: inherit;
}
#XmlPane{
 padding-left: 0px;
}

#siteContent{
    margin-right:-8px;
}

.ms-Callout{
    background:white;
    box-shadow: 0px 0px 5px 0px;
}

#xmlText > span > span {
    font-weight:400;
}

.xmlCommandBar > div > div {
    cursor: pointer;
}

#xmlSec, #xmlSection {
    height:100% !important;
}