@{
    ViewBag.Title = "_banner";
}

<div class="ms-Grid ms-bgColor-themePrimary banner">
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm4">
            <img class="ms-fontColor-white companyLogo" style="height:30px;vertical-align:bottom" />
            <span class="ms-font-xl ms-fontColor-white companyName" style="font-size:22px;padding-right:15px;">
                CompanyLogo/Name
            </span>
        </div>
        <div class="ms-Grid-col ms-u-sm4">
            <span class="ms-font-xl ms-fontColor-white" style="border-left:1px solid white; padding-left:15px;font-size:22px">
                Office Self Service Deployment
            </span>
        </div>
        <div class="ms-Grid-col ms-u-sm4 ms-u-smPush2" onclick="showModal('helpModal')">
            <span id="btAbout" class="ms-fontColor-white ms-Icon ms-Icon--question helpButton"></span>
        </div>
    </div>
</div>