<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://microsoft-apiapp6b569e4ebf6149b4a928aa70a260394e.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>microsoft-apiapp6b569e4ebf6149b4a928aa70a260394e.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Microsoft-ApiApp6b569e4ebf6149b4a928aa70a260394e</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <AppServiceName>OfficeSelfService</AppServiceName>
    <ResourceGroupName>OfficeSelfService</ResourceGroupName>
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>selfservice</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureAPIApp</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
</Project>